/* Overall Styling */
* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.heading {
    color: #61311C;
}

main {
    background-color: #F2DFD7;
    padding: 5%;
    display:flex;
    justify-content: center;
}

.center {
    margin-top:auto;
    margin-bottom:auto;
}

a {
    color: #a78171;
}

a:hover {
    color:#61311C;
}


/* Navbar */
nav {
    background-color: white;
    padding: 40px;
}

.navbar-brand {
    font-size: x-large;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Footer */
footer {
    padding: 15px;
}

footer p {
    margin-bottom: 0;
}

footer .container {
    width: 70%;
}

footer a {
    color:black;
}


/* Homepage */ 

.about {
    background-color: #F2DFD7;
    padding: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
}

main.homepage {
    background-color: #A78171;
}

.homepage .container {
    margin-left: 5vw;
    margin-right: 5vw;
}

#headshot {
    width: 100%;
    padding: 10px;
}

#info {
    font-size: large;
    padding-right: 20px;
}

#info-header {
    padding-bottom: 20px;
}

.btn {
    border-radius: 20px;
    background-color: #A78171;
    padding: 0.15em 0.85em;
    color: white;
}

.btn:hover {
    background-color: #F2DFD7;
    border-color: black;
}


/* Sub Pages */
@media only screen and (max-width: 768px) {
    .subpage .container {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}
@media only screen and (min-width: 768px) {
    .subpage .container {
        margin-left: 15vw;
        margin-right: 15vw;
    }
}
@media only screen and (min-width: 1200px) {
    .subpage .container {
        margin-left: 15vw;
        margin-right: 15vw;
    }
}

h2 {
    text-align: center;
}


/* Resume */
.section {
    padding-bottom: 80px;
}

.experience {
    background-color: white;
    border-left-style: solid;
    border-left-width: 18px;
    border-color:#A78171;
    padding: 40px 20px 40px 20px;
    --bs-gutter-x: 0;
    margin-top: 50px;
}

.experience .col-md-4 {
    padding-right: 10px;
}

.company, .location {
    font-size: smaller;
}

#resume-download {
    text-align:right;
}